@font-face {
    font-family: "TF2Build";
    src: url("TF2_fonts/TF2Build.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TF2Secondary";
    src: url("TF2_fonts/TF2Secondary.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
    background-image: url(../../IMG/Fondos/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    margin: 0;
}