.CapaGris{
    margin: auto;
    width: 60%;
    height: auto;
    background-color: rgb(136, 135, 135);
}


.Cajas,
.clasePadreBlanco{
    margin: auto;
    background-color:rgba(227, 226, 226, 1);
    width: 96%;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
