@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.IconoHeader:hover {
    animation: girar 1s linear infinite;
}

.MenuPrincipal{
    background-color: rgba(217, 217, 217, 0.88);
    padding: 10px;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.IconoHeader{
    width:80px;
    height:80px;
    transition: transform 0.5s ease-in-out;
}
.Opciones{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right:2%;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none; 
}
.Apartados{
    font-size: 24px;
}